*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex San", sans-serif;
}

body{
    max-width: 100%;
    position: relative; 
    background: #000;
    color: white;
    overflow-x: hidden;

}

.container{
   
    margin: 20px 30px;
 }
 
 .header .container{
     margin: 0 0 ;
    
 }
 
 nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: #101010;
     padding: 20px 20px ;
    
     
     
 }

.logo a{
    color: rgb(255, 98, 0);
    font-size: 30px;
    

    
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
   
}

a{
    color: white;
    text-decoration: none;
    /* position: relative; */
    
}

ul li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    position: relative;
    cursor: pointer;
    
}

ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    background: rgb(255, 98, 0);
    border-radius: 50%;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}

ul li a:hover::after{
    width: 100%;
}

.dropDown{ 
    position: absolute;
    margin-top: 10px;
    left: 0;
    top: 100%;
    margin-left: -30px;
    background-color: #101010;
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.dropDown.openMenu{
    max-height: 40vh;
}

.dropDown ul{
    display: block;
    margin: 10px;
}

.dropDown ul li{
    width: 140px;
    padding: 10px 0;
    

}

.dropdown{ 
    position: absolute;
    margin-top: 10px;
    left: 0;
    top: 100%;
    margin-left: -30px;
    background-color: #212121;
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.dropdown.open-menu{
    max-height: 40vh;
}

.dropdown ul{
    display: block;
    margin: 10px;
}

.dropdown ul li{
    width: 120px;
    padding: 10px 0;
    

}



main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    margin: 50px 0;
    width: 100%;
}

.info-main h1{
    font-weight: 700;
    margin-bottom: 30px;
}
main span{
    color: rgb(255, 98, 0);
}

.about-wrap{
    display: flex;
    gap: 20px;
}

.about-wrap img{
    margin-top: 5px;
    height: 330px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
}

p{
    line-height: 30px;
    margin-bottom: 30px;
    color: #969191;
}
.vision{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.vision:first-child{
    flex-basis: 45%;
}
.vision h2 {
    color: rgb(255, 98, 0);
    margin-bottom: 10px;
}


.tech{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}
.tech div{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 98, 0);
    cursor: pointer;
    transition: transform 0.5s ;
}



.tech div:hover{
    transform: translateY(-8px);
}

.tech h1{
   font-size: large;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 10px;
}

#tech-font{
    display: block;
    position: absolute;
    margin: 3px 0;
    font-size: 30px;
    color: rgb(255, 98, 0);
}
/* ............ */
.swiper {
    height: 100%;
    width: 95%;
  }
  .swiper-wrapper{
    display: flex ;
    gap: 5px;
    
    
  }

  .swiper-wrapper img{
    height: 63px;
    width: fit-content;
    background: white;
    border-radius: 10px;
  }
  
  
   

footer{
    display: flex;
    flex-direction: column;
    background: #101010;
   
   
}
footer .container{
    display: flex;
    justify-content: space-between;
}

.left-footer{  
   flex-basis: 35%;
   
}
.left-footer h1{
    margin-bottom: 25px;
}

.left-footer p{
    color: #969191;
}

.contact-info{
    position: relative;
    margin-top: -30px;
}
.contact-info p{
    margin-left: 35px;
    margin-top: -20px;
}

#info {
    display: block;
    position: absolute;
    margin: 10px 0 0;
    color: rgb(255, 98, 0);
}


.icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    display: inline-block;
    transition: 0.5s;
    margin-top: -100px;
}

.icons a:hover{
    color: rgb(255, 98, 0);
    transform: translateY(-8px);
}

.right-footer{
    display: flex;
    flex-basis: 60%;
    justify-content: space-aroundS;
    gap: 25%;
    list-style: none;
    line-height: 40px;
}
.right-footer h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.right-footer li a{
    font-size: 15px;
   line-height: 20px;
   color: #969191;
}
.right-footer li a:hover{
    text-decoration: underline;
}


.copyright{
   
    width: 100%;
    background: #262626;
    text-align: center;
    margin: 20px 0 0;
    font-weight: 400;
    padding: 20px 0 10px;
}
.copyright p{
    color: white;
    margin-bottom: 10px;
}




/* css for small screen */

.fa-solid{
    display: none;
}

@media only screen and (max-width: 800px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul{
        background: rgb(255, 98, 0);
        top: 0;
        right: -250px;
        position: absolute;
        padding-top: 50px;
        width: 250px;
        height: 110vh;
        z-index:2 ;
        transition: 0.5s;
        flex-direction: column;
    }

    ul li{
        display: block;
        margin: 10px 25px;
        transition: 0.5s
    }
    ul li:hover{
        background: #000;
        width: 100%;
        left: 0%;
        padding: 10px 20px;
    }
    
    .dropdown ul{
        display: block;
        position: relative;
        padding: 0 10px;
        left: -5px; 
        top: -8px;   
    }
    
    .dropdown ul li{
     margin: 2px;
    }

    .dropdown.open-menu{
        max-height: 20vh;
       
    }
    
    .dropDown ul{
        display: block;
        position: relative;
        padding: 0 10px;
        left: -5px; 
        top: -8px;   
    }
    
    .dropDown ul li{
     margin: 2px;
    }

    .dropDown.openMenu{
        max-height: 50vh;
       
    }
    ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    

    .info-main {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    
      
    }

    .about-wrap {
        flex-direction: column;
    }

    .about-wrap img{
        width: 100%;
    }

    .info-main h1{
        font-size: x-large;
    }

    .info-main button{
        width: fit-content;
        transition: 0.5s ease;
        
    }

    .vision{
        flex-direction: column;
        
    }
    .tech{
        flex-direction: column;
    }

    .tech div{
        width: 100%;
    }

   .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
   }

    

    footer .container{
        display: flex;
        flex-direction: column;
    }


    .right-footer{
       display: flex;
       flex-direction: column;
       line-height: 30px;
       
    }

    .right-footer h3{
        margin-top: 30px;
    }

    
}

@media only screen and (max-width: 1200px) {
    .left-footer p{
    width: 90%;
    }
    .right-footer{
        flex-basis: 60%;
        gap: 20%;
        
    }
}